body{
    background-color: rgb(125, 183, 193)
}
h1{
    text-align: center;
	font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
    background-color: rgba(15, 55, 73, 0.4);
    color: #bfdfdf;
	letter-spacing: 6px;
	margin-bottom: 40px;
	padding: 10px 30px;
}
h3{
	width: 390px;
	margin: 12px auto;
    text-align: right;
    font-family: 'Titillium Web', sans-serif;
    font-size: 23px;
    color: #dfffff;
}
h3 a{
    text-decoration: none;
	padding:0px 8px;
    color: rgba(15, 55, 73, 0.897)
}
.corpo{
    width: 396px;
    height: 520px;
    margin: 0px auto;
    border: 1px solid #333333;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(105, 107, 106, 0.7);
}
/* .tela*/ .tela1 , .tela2{ 
    background-color: rgba(35, 37, 37, 0.6);
    border-radius: 6px;
    margin: 8px auto;
    margin-left: 8px; 
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.925);
    text-align: right;
}
.tela1{
    width: 380px;
    height: 90px;
    margin-top: 0;
    font-size: 50px;
    padding: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.tela2{
    width: 380px;
    height: 40px;
    font-size: 28px;
    margin-bottom: 0;
    padding: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.blocoBotoes{
    margin-left: 6px;
    width: 100%;
    height: 78.9%;
}

.botao{
    height: 70px;
    width: 92px;
    margin-top: 3px;
    font-size: 25px;
    font-weight: 400;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    background: #63B8EE;
	border-radius:3px;
	color: #222222;
}

.botao:hover {
    background: #468CCF;
    background: linear-gradient(top,  #468CCF,  #63B8EE);
    background: -ms-linear-gradient(top,  #468CCF,  #63B8EE);
    background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));
    background: -moz-linear-gradient(top,  #468CCF,  #63B8EE);
}
.blocoBotoes > .c{
    background-color: rgba(245, 180, 59, 0.97)!important;
}
.blocoBotoes > .c:hover{
    background: rgb(207, 152, 70);
    background: linear-gradient(top,  rgb(207, 186, 70),  rgb(238, 194, 99));
    background: -ms-linear-gradient(top,  rgb(207, 193, 70),  rgb(238, 201, 99));
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(207, 152, 70)), to(rgb(238, 224, 99)));
    background: -moz-linear-gradient(top,  rgb(207, 175, 70),  rgb(238, 212, 99));
}
#zero{
    width: 188px;
}

